# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=your-domain.com,www.your-domain.com

# Email Settings (Atomicmail.io)
EMAIL_HOST_USER=your_atomicmail_username
EMAIL_HOST_PASSWORD=your_atomicmail_password
ADMIN_EMAIL=directlines@atomicmail.io
