[Unit]
Description=DirectSite Gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/directsite/directsite
ExecStart=/var/www/directsite/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/www/directsite/directsite.sock directsite.wsgi:application

[Install]
WantedBy=multi-user.target
